body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* Header */
.header {
  background: #4f74b8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 40px;
  border-bottom: 3px solid black;
  flex-wrap: wrap;
}

.logo {
  width: 50px;
  border-radius: 50%;
  margin-left: -10px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons img {
  height: 30px;
  margin-left: 10px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

/* Layout */
.container {
  display: flex;
  padding: 15px;
  gap: 20px;
}

.left,
.right {
  flex: 1;
}

.left img {
  width: 80%;
}

.right h1 {
  margin-bottom: 15px;
  font-size: 24px;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info img {
  width: 30px;
  margin-right: 10px;
}

.info p {
  font-size: 14px;
  margin: 0;
}

.map {
  margin-top: 15px;
}

iframe {
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 10px;
}

/* MOBILE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .right {
    padding: 0;
  }

  .right h1 {
    text-align: center;
  }

  .info {
    justify-content: flex-start;
  }

  .back {
    position: static;
    display: block;
    margin: 10px;
  }

  iframe {
    height: 200px;
  }
}

/* SMALL PHONES */
@media (max-width: 480px) {
  .logo {
    font-size: 16px;
  }

  .right h1 {
    font-size: 20px;
  }

  .info p {
    font-size: 13px;
  }

  .social-icons img {
    width: 20px;
  }
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1; /* pushes footer down */
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #4f74b8;
  color: white;
  font-size: 17px;
}
